# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.c9/
.settings/
.target/

# VS Code
.vscode/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Spring Boot: ignore sensitive config
src/main/resources/application.properties

# Environment config files
.env
